<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-content">

  <div class="login-container">
    <div class="logo-container">
      <div class="logo">
        <ion-icon name="book-notes"></ion-icon>
      </div>
      <h1 class="h1">Bienvenido</h1>
    </div>

    <form class="credencial">
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" #usuario required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" #password required></ion-input>
      </ion-item>
    </form>

    <ion-button class="btn-iniciarSesion" expand="full"
      (click)="iniciarSesion(usuario.value?.toString() || '', password.value?.toString() || '')">
      Iniciar sesión
    </ion-button>

    <ion-button class="recuperarContraseña" expand="full" fill="clear">Olvidé la contraseña</ion-button>

    <div class="aux">
      <span>Inicia sesion con</span>
    </div>

    <div class="redes-sociales">
      <ion-button class="google" fill="clear">
        <ion-icon slot="start" name="logo-google"></ion-icon>
      </ion-button>

      <ion-button class="facebook" fill="clear">
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
      </ion-button>

      <ion-button class="github" fill="clear">
        <ion-icon slot="start" name="logo-github"></ion-icon>
      </ion-button>
    </div>

    <div class="noCuenta-btn">
      <p class="noCuenta">
        ¿No tenés cuenta? 
      </p>
      <ion-button class="btn-registrarse" (click)="irRegistro()" fill="clear">Registrarse</ion-button>
    </div>
  </div>
</ion-content>